* {
	font-family: roboto, sans-serif;
}

body {
	margin: 0;
	padding: 0;
}

nav {
	background: linear-gradient(to left, #5A716A80, #6DC0D580);
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 40px;
}

.link {
	text-decoration: none;
	color: black;
	font-size: 20px;
	font-weight: bold;
	
}

.link:hover {
	color: #5A716A;
	cursor: pointer;
}

#links-container {
	min-width: 500px;
	display: inline-flex;
	gap: 10%;
}

#splash-img {
	width: 100%;
	margin-top: 35px;
}

#splash-image-container {
	background-image: url("https://res.cloudinary.com/dbuwekmex/image/upload/a_90/v1767034050/20251229_134538_esc5si.jpg");
	background-color: black;
	height: 60rem;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin-bottom: 20rem;
	display: flex;
	align-items: center;
	justify-content: center;
	font-weight: 300;
	font-size: 75px;
}

.heading-container {
	background-color: #e9fbf7;
	border: 10px solid #85bcac;
	border-radius: 30px;
	width: 75rem;
	margin: 5rem auto;
}

.heading-text {
	font-family: ephesis, roboto;
	color: black;
	letter-spacing: 10px;
	text-align: center;
}

.text {
	padding: 5%;
}

.top-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	margin: 15rem auto;
}

.outer-container {
	background-color: #85bcac;
	display: flex;
	align-items: center;
	flex-direction: column;
	border-radius: 35px;
	padding: 30px;
	width: 30%;
	margin: 5rem auto;
}

.inner-container {
	background-color: #e9fbf7;
	border-radius: 0 0 25px 25px;
	text-align: center;
}

.contained-image {
	display: block;
	background-color: white;
	border-radius: 25px 25px 0 0;
}

.inner-container, .contained-image {
	width: 100%;
}

fieldset {
	display: flex;
	flex-direction: column;
	align-items: center;
	border: none;
}

.fieldset-section {
	margin: 2rem auto;
}

label {
	font-size: 25px;
	margin: auto 20px;
}

input, textarea {
	padding: 5px;
	border-radius: 10px;
	border: 2px solid #85bcac;
	font-size: 25px;
}

#questions {
	display: block;
	width: 100%;
	margin: 2rem auto;
}

button {
	margin: 2rem auto;
	font-size: 25px;
	background-color: #e9fbf7;
	border: 2px solid #85bcac;
	padding: 10px;
	border-radius: 10px;
}

button:hover {
	background-color: #85bcac;
	cursor: pointer;
}

#home-btn-image {
	width: 3rem;
	height: 3rem;
	position: fixed;
	bottom: 1rem;
	right: 1rem;
	background: #5A716A80;
	border-radius: 3rem;
	opacity: .7;
}

@media screen and (max-width: 600px) {
	#links-container {
		display: none;
	}

	nav {
		height: 30px;
	}
}
