* {
    font-family: roboto, sans-serif;
}

body {
    padding: 0;
    margin: 0;
}

#top-nav-container {
    background-color: rgb(180, 255, 255);
    width: 100%;
    display: flex; 
    align-items: center;
    justify-content: center;
    height: 40px;
    padding: 10px 0;
}

.home-link, .available-name {
    font-size: 30px;
    font-family: "Dancing Script", sans-serif;
    font-weight: bold;
    color: rgb(153, 99, 0);
    text-decoration: none;
}

.home-link:hover {
    cursor: pointer;
    color: rgb(105, 68, 0);
}

nav {
    height: 30px;
    position: sticky;
    top: 0;
    width: 100%;
    background-image: linear-gradient(rgb(180, 255, 255), transparent);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 0;
    font-weight: bold;
    z-index: 100;
}

.nav-link {
    text-decoration: none;
    color: rgb(156, 101, 0);
}

.nav-link:hover {
    color: rgb(105, 68, 0);
    cursor: pointer;
}

#nav-link-container {
    width: 75%;
    max-width: 800px;
    display: flex;
    justify-content: space-evenly;
}

#slideshow-container {
    height: 100%;
}

#slideshow {
    width: 100%;
    display: flex;
    border-radius: 20px;
}

#home-page-container, .contact-container {
    background-color: rgb(180, 255, 255);
    width: 40%;
    padding: 20px;
    margin: 5rem auto;
    border-radius: 20px;
}

.contact-container {
    max-width: 300px;
}

.text-content {
    font-size: 20px;
    letter-spacing: 1px;
}

.paragraph-head {
    text-align: center;
    margin-top: 10rem;
}

.container {
    width: 50%;
    margin: 5rem auto;
    font-size: 20px;
}

.image {
    display: flex;
    float: left;
    width: 50%;
    max-width: 250px;
    margin: 10px;
}

.content-link {
    color: rgb(153, 99, 0);
    text-decoration: none;
}

.content-link:hover {
    color: rgb(105, 68, 0);
}

.available-container {
    margin: 10rem auto;
    max-width: 1200px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.available-name {
    font-size: 40px !important;
}

.desc {
    font-size: 20px;
    letter-spacing: 1px;
    margin: 2rem 20% auto 20%;
    text-align: center;

}

.available-image-container {
    margin: auto;
    width: 50%;
    position: relative;
}

.available-image {
    width: 100%;
    border-radius: 10px;
}

.button {
    border: none;
    background: transparent;
    color: rgb(156, 101, 0);
    position: absolute;
    height: 100%;
    font-weight: bold;
    font-size: 20px;
}

.button:hover {
    cursor: pointer;
    color: rgb(105, 68, 0)
}

.right-button {
    right: 0;
}

.left-button {
    left: 0;
}

.right-button:hover {
    background-image: linear-gradient(to right, transparent, rgb(180, 255, 255));
    border-radius: 0 10px 10px 0;
}

.left-button:hover {
    background-image: linear-gradient(to left, transparent, rgb(180, 255, 255));
    border-radius: 10px 0 0 10px;
}

@media screen and (max-width: 600px) {
    #home-page-container, .contact-container {
        width: 90%;
    }

    .container {
        width: 80%;
    }

    .available-image-container {
        width: 90%;
    }

    .desc {
        margin: 2rem 5% auto 5%;
    }

    .right-button:hover {
        background: transparent;
    }

    .left-button:hover {
        background: transparent;
    }

    .right-button:active {
        background-image: linear-gradient(to right, transparent, rgb(180, 255, 255));
        border-radius: 0 10px 10px 0;
    }

    .left-button:active {
        background-image: linear-gradient(to left, transparent, rgb(180, 255, 255));
        border-radius: 10px 0 0 10px;
    }
}
